export(apd)
export(cpd)
export(fpd)
export(cpd)
export(apd)
export(binomial_test)
export(binomial_test_full)
export(bucket)
export(mann_whitney)
export(ar_compare)
export(ar_ci)
export(yearmon)
export(AR)
export(minimodel)
export(minimodel_plot)
export(compare_cap_plot)
export(cap_plot_data)
export(cap_plot)
export(create_dummy_sample)
export(deleq)
export(mis_scale)
export(fitch_scale)
export(sp_scale)
import(data.table)
import(ggplot2)
importFrom(gridExtra, grid.arrange)
importFrom(pROC, roc, ci.auc)
importFrom(scales, percent)
importFrom(pracma, trapz)
importFrom(LDPD, QMMRecalibrate)
importFrom("stats", "complete.cases", "loess", "median", "pbinom", "pchisq", "pnorm", "predict", "qnorm", "quantile", "rbinom", "rnorm")
importFrom("utils", "head")
useDynLib(pdutils)
importFrom(Rcpp, sourceCpp)
