exportPattern("^[[:alpha:]]+")
import(data.table)
import(ggplot2)
importFrom(gridExtra, grid.arrange)
importFrom(scales, percent)
importFrom(pracma, trapz)
importFrom(LDPD, QMMRecalibrate)
importFrom("stats", "complete.cases", "loess", "median", "pbinom", "pchisq", "pnorm", "predict", "qnorm", "quantile", "rbinom", "rnorm")
importFrom("utils", "head")
