export(apd)
export(cpd)
export(fpd)
export(cpd)
export(apd)
export(binomial_test)
export(binomial_test_full)
export(bucket)
export(mann_whitney)
export(mann_whitney_vec)
export(ar_compare)
export(ar_ci)
export(yearmon)
export(AR)
export(AR_vec)
export(minimodel)
export(minimodel_plot)
export(minimodel_plot_list)
export(compare_cap_plot)
export(pluto_tasche)
export(kolmogorov_smirnov)
export(cap_plot_data)
export(cap_plot)
export(create_dummy_sample)
export(deleq)
export(mis_scale)
export(mann_whitney_multiclass)
export(triangle_plot)
export(bcr)
export(fitch_scale)
export(sp_scale)
export(weighted_mean_ci)
export(mean_ci)
export(woe)
export(info_value)
export(psi)
export(trans_var_vec)
export(trans_var)
import(data.table)
import(ggplot2)
importFrom("gridExtra", grid.arrange)
importFrom("pROC", roc, ci.auc)
importFrom("scales", percent)
importFrom("pracma", trapz)
importFrom("LDPD", QMMRecalibrate)
importFrom("stats", "complete.cases", "loess", "median", "pbinom", "pchisq", "pnorm", "predict", "qnorm", "quantile", "rbinom", "rnorm", "qt", "sd", "weighted.mean")
importFrom("utils", "head")
importFrom("Hmisc", 'wtd.var')
importFrom('stringi', 'stri_c')
useDynLib(pdutils)
importFrom("Rcpp", sourceCpp)
